.bar_wrapper{
  .bar_text{
    position: relative;
    height: 20px;
  }
  .progressV2{
    height: 10px;
    background-color: #f5f5f5;
    border-radius: 30px;
    .inner_bar{
      height: 100%;
      background-color: aqua;
      border: none;
      border-radius: 30px;
      position: relative;
      .circle{
        position:absolute;
        right:0;
        margin-top: -6px;
        background: #0f83e6;
        width: 20px;
        height: 20px;
        border-radius: 50%;
      }
    }
  }
}
